{%liquid

if section.settings.featured_articles.links == blank
assign featured_articles_linklist = linklists[section.settings.featured_articles].links

else
assign featured_articles_linklist = section.settings.featured_articles.links
endif
%}

<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

<style>
    .shine {
        letter-spacing: 2px;
        background: linear-gradient(90deg, #fff, #000);
        background-repeat: no-repeat;
        background-size: 90%;

        animation: animate 3s infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);

    }

    @keyframes animate {
        0% {
            background-position: -500%;
        }

        100% {
            background-position: 500%;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        /* color: black;
        top: auto !important;
        height: 20px; */
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        /* font-size: 20px; */
    }

    .swiper-pagination-bullet-active {
        /* color: black !important;
        background: black !important;
        bottom: 0 !important; */
    }


    .mag {
        /* transition: all 250ms linear; */
        /* border: 1px solid rgb(75 85 99); */
        /* border-radius: 0.5em; */

    }

    .textStroke {
        /* color: black; */
        /* -webkit-text-fill-color: red; */
        /* Will override color (regardless of order) */
        -webkit-text-stroke: 1px #000;
    }

    .textMag {
        filter: drop-shadow(3px 3px 0px #000);

    }

    .magContainer:hover {
        /* filter: brightness(120%); */
    }
</style>




<div class="flex flex-col justify-around items-center mb-2 border-b border-black h-screen">

    <div class="swiper mySwiper h-2/5 w-full ">
        <div class="swiper-wrapper">
            {% for link in featured_articles_linklist %}
                    {% assign shortURL = link.url | remove: "/blogs/"%} 
                    {% assign article = articles[shortURL] %}
                    {% assign imageURL = article.image %} 
                    <div>
                        

                    </div>
            <div class="swiper-slide bg-white flex items-center justify-center text-center">10000</div>
            <div class="swiper-slide bg-white flex items-center justify-center text-center">20000</div>
            <div class="swiper-slide bg-white flex items-center justify-center text-center">30000</div>
            <div class="swiper-slide bg-white flex items-center justify-center text-center">40000</div>
            <div class="swiper-slide bg-white flex items-center justify-center text-center">50000</div>
            {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>


    <div class="flex border-2 border-red-800 w-full justify-center items-center">
        <h6 class="text-2xl  font-bold text-center mb-4">
            {{ section.settings.slogan }}
        </h6>
    </div>
</div>



<script>
    const swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        loop: true,
        slidesPerView: 3,
        grabCursor: true,
        autoplay: {
            delay: 1500,
            disableOnInteraction: false,
            pauseOnMouseEnter: true
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev"
        }
    });
</script>

{% schema %}
{
"name": "Featured Articles",
"settings": [
{
"type": "link_list",
"id": "featured_articles",
"label": "Featured Articles"
},
{
"type": "text",
"id": "slogan",
"label": "Slogan",
"default": "Creating confidence for the modern day woman."
}
],
"presets": [
{
"name": "Featured Articles"
}
]
}
{% endschema %}