<div class="max-w-md">
  <div class="flex animate-pulse justify-center">
    {%render "icon-question-mark" %}
  </div>
  <div class="text-6xl font-bold my-4">
    {{ section.settings.title }}
  </div>

  <div class="my-4">
    <p class="text-base md:text-xl leading-loose animate-bounce">
      {{ section.settings.subtext }}
    </p>
  </div>

  <div class="my-4">
    <!-- prettier-ignore -->
    {% if section.settings.button_link == blank %}
      {% assign shop_url = shop.secure_url %}
      {% else %}
          {% assign shop_url = section.settings.button_link %}

          {% endif %}

    <div class="hover:scale-125 duration-500">
      <a
        class="border border-gray-400 rounded-xl px-4 inline py-2 tbase font-medium shadow-md bg-green-600 hover:bg-green-800 text-white"
        href="{{ shop_url }}"
        >{{ section.settings.button_label }}</a
      >
    </div>
  </div>
</div>

<!-- prettier-ignore -->
{% schema %}
{
    "name":"Template 404",
    "tag":"section",
    "class":"flex items-center justify-center text-center py-7 h-screen",
    "settings":[
        {
            "type":"text",
            "id":"title",
            "default":"404",
            "label":"404 Heading Title"
        },
        {
            "type":"text",
            "id":"subtext",
            "default": "The page you were looking for does not exist bro!",
            "label":"404 Subtext"
        },
        {
            "type":"text",
            "id":"button_label",
            "default":"Back to Homepage",
            "label":"Button Label"
        },
        {
            "type":"url",
            "id":"button_link",
            "label":"Button URL"
        }
    ]
}
{% endschema %}
